.button p {
    font: 400 20px 'Prompt', sans-serif;
    color: white;
}

.button button {
    width: 14.31rem;
    height: 3.71rem;
    border-radius: 15px;
    border: 2px solid #1A1A1A;

    background-color: #000000;
    transition: 0.3s;

    color: white;
    font: 400 15px 'Prompt', sans-serif;
}

.button button:hover {
    background-color: #0000009c;
    transition: 0.3s;

    cursor: pointer;
}